@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


html {
  scroll-padding-top: 100px;
}

section{
  min-height: 100vh;
  overflow: hidden;
  

}
body{
  background-color:#1e0a41 ;
}
:root{
  --color-navy:#0a0f1c;
  --color-mauve:#a55eea;
  --color-azure:#5f9ea0;
  --color-neon:#00ffff;
  --color-neonePurple:#b300ff;
}
@theme{
  --color-navy:#0a0f1c;
  --color-mauve:#a55eea;
  --color-azure:#5f9ea0;
  --color-neon:#00ffff;
  --color-neonePurple:#b300ff;
}
.center-container {
  @apply mx-auto container px-4 h-auto;
}


